language: python
python:
- '3.7'
install:
- pip install -r requirements-travis.txt
script:
- python manage.py migrate
- python manage.py test
notifications:
  slack: shopaholicsanonymous:oeIwEbCPfLc0X9HSbudQ1Yua
deploy:
  provider: heroku
  api_key:
    secure: BoEEK19oKmPD9b1FGjVddNdlAfgza/hQUgVwBiN1f44z1i4QJilWrscdjLwuV1qsZLz2vJ+ufNlLiGT/+UG0gMmpqJ/u/dISXYatji8lGkfuMiWeTH6sqRC/z7EqfPpg9Q25Z2ge2RcyhgqVsAGxis6Yxp775SJBAp2LTm9aUF/Et+8lRUuJCOAjsAh/Mr4Pd1qYLST3YeFQv+NpQm+LF6WnEQsd5tuNl+9OIRbuh5dUG54ws7G+L4tyv+B1Nug8GNg2eULvmSokyqP3//vrqB0pzKlXSM6d6lmp3+u2EVHpePFSeUZcdCQoXIISaMvUA5XbhplkEDfJJw/c608ndqS7ibTBTLKChO3F35jvgiJniVDOxqwCaeiI34MUuRY26QfYgCH8XxxEkl4O6aSAukLBmdS6A6XFLE88hcEzjBxGeeKgx0N5sbgU9yg1WvGZ2U5RslOz/oIwcTqs/saTwjEpyOkJEQukgxWVNNA5WX5r/3Xk0IjMtKtEWD6DMEbxDreLhWT7Bri92CEPGaiALeaurKBYRlWBcYgH6yugp+IKA4HQ9DWoynHmejZUbplIFkXA88v87qE0GrvHLYZpb+W6y/635q2cVhmyzljJMC2D1pLbt8oO+QgQ7+/9gv+tOcjvIwuj5OW286C6+6Lh1nXy5yQ5fBnP9nwJMltKUSM=
  app: shopaholics-anonymous
  on:
    repo: uva-cs3240-f19/project-102-shopaholics-anonymous-project
