{% extends "base.html" %}
{% block content %}
<br>
<div class="container">

    <div class="card mx-auto mb-4 shadow-sm d-flex justify-content-center w-50">
        <div class="card-header d-flex justify-content-center domcolor txt">
            <h2>Pay for your purchase now!</h2>
        </div>
        <div class="card-body d-flex justify-content-center">
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Shopping List: {{ list }}</li>
                    <li class="list-group-item">Price: ${{ price }}</li>
                    <li class="list-group-item"><center><form action="{% url 'shop:pay' %}" method="post">
                    {% csrf_token %}
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{ key }}"
                            data-description="Complete Payment"
                            data-amount="{{stripe_price}}"
                            data-locale="auto">
                    </script>
                    </form></center></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
