{% extends "base.html" %}
{% block content %}
{% if disabled %}
<br>
<br>
<br>
<h3 class="text-center accent-text">You already have an order submitted; you can only shop for one order at a time!</h3>
{% endif %}

   <div class="container">
  <div class="py-5 text-center">
    <br>
    <h1>Shop Now!</h1>
    <p class="lead">Search for groceries, add them to your cart, set your pickup date and time, and fill out payment info. We'll take care of the rest!</p>
  </div>
<div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="accent-text">Your shopping session</span>
        <!--<span class="badge badge-secondary badge-pill">3</span>-->
      </h4>
      <div class="card domcolor-t pt-1 px-1 px-md-1">
        <div class="my-3 p-3">
          <h3 class="card-title">My Shopping List</h3>
          <ul class="list-group list-group-flush list-group-cart">
            {% for item in user.profile.cart.items %}
              <li class="list-group-item">
                <div class="row">
                  <form action="" method="post" class="col-md-2">
                      {% csrf_token %}
                      <input type="hidden" name="delete" value="{{item}}"></input>
                      <input class="btn btn-secondary my-2 my-sm-0 second-accent" type="submit" value="X"/>
                  </form>
                  <p class="col-md-7">{{item.title}}</p>
                  <p class="col-md-3">{{item.price}}</p>
                </div>
              </li>
            {% empty %}
              No items.
            {% endfor %}
          </ul>
        </div>
      </div>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Store</h6>
            <small class="text-muted">Distance: 3.7 mi</small>
          </div>
          <span class="text-muted">Walmart, Hilton Heights</span>
        </li>

        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Estimated Price</h6>
            <small class="text-muted">Note: Price may vary depending on store availability</small>
          </div>
          <span class="text-muted">{{subtotal_string}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div class="">
            <h6 class="my-0">Driver margin</h6>
            <small>Rate: Flat Fee</small>
          </div>
          <span class="text-muted">{{driver_margin_string}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div class="">
            <h6 class="my-0">Estimated tax</h6>
            <small>6% in Charlottesville</small>
          </div>
          <span class="text-muted">{{tax_string}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light">
          <span>Total (USD)</span>
          <strong>{{total_string}}</strong>
        </li>
      </ul>

    </div>
    <div class="col-md-8 order-md-1">
      <h3 class="mb-3">Build My Cart</h3>
      <div class="d-md-flex w-100 my-md-3 pl-md-3">
  <div class="card domcolor-t mr-md-9 w-100 pt-3 px-3 px-md-2 text-center overflow-hidden">
    <div class="my-3 py-3">
      <h3 class="card-title">Search</h3>
      <form class="form-inline my-2 my-lg-0 card-body" method="GET">
        <input class="form-control mr-sm-2 w-75" type="text" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-secondary my-2 my-sm-0 second-accent" type="submit">Search</button>
      </form>
      <ul class="list-group list-group-flush list-group-items">
        {% for item in items %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-3">
                <img src="{{ item.image }}" style="height:50%">
              </div>
              <div class="col-md-3">
                <a href="https://walmart.com/ip/{{item.id}}" target="_blank"><p>{{ item.title }}</p></a>
              </div>
              <div class="col-md-3">
                <p>{{ item.price }}</p>
              </div>
              <div class="col-md-3">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="item" value="{{item}}"></input>
                    <input type="submit" value="Add to cart"/>
                </form>
              </div>
            </div>
          </li>
        {% empty %}
          No items.
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
      <form action="{% url 'shop:process_order' %}" method="post">
        {% csrf_token %}
        <h4 class="mb-3">Order Information</h4>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="del_add">Delivery Address</label>
            <input type="text" class="form-control" id="del_add" name="del_add" placeholder="" required>
            <small class="text-muted">E.g. 123 Main St. Charlottesville, VA 22903</small>
            <div class="invalid-feedback">
              Delivery address is required
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="appt_suite">Apartment Suite Number</label>
            <input type="text" class="form-control" id="appt_suite" name="appt_suite" placeholder="None">
          </div>
        </div>
        <div class="mb-3">
          <label for="del_instr">Special Instructions</label>
          <input type="text" class="form-control" id="del_instr" name="del_instr" value="" placeholder="Add any special instructions here">
        </div>
        <br>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="asap" name="asap" value="0" onclick="document.getElementById('d_time').disabled=this.checked;">
          <label class="custom-control-label" for="asap">This is an ASAP delivery</label>
        </div>
        <hr>
        <div class="col-md-4 mb-3">
            <label for="d_time">Delivery Time Range</label>
            <select class="custom-select d-block w-100" id="d_time" name="d_time" required>
              <option value="">Choose...</option>
              <option>5-7 days</option>
              <option>3-5 days</option>
              <option>1-2 days</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid option.
            </div>
          </div>
        <hr class="mb-4">
        {% if disabled %}
        <input class="btn btn-primary btn-lg btn-block bg-warning" type="submit" value="Cannot Submit: Order In Progress" disabled>
        {% else %}
        <input class="btn btn-primary btn-lg btn-block accent" type="submit" value="Proceed With Checkout">
        {% endif %}
      </form>
    </div>
  </div>
   </div>
{% endblock %}

        <!--<br>-->
        <!--<h4 class="mb-3">Payment Information</h4>-->
        <!--<div class="row">-->
          <!--<div class="col-md-6 mb-3">-->
            <!--<label for="cc-name">Name on card</label>-->
            <!--<input type="text" class="form-control" id="cc-name" placeholder="" required>-->
            <!--<small class="text-muted">Full name as displayed on card</small>-->
            <!--<div class="invalid-feedback">-->
              <!--Name on card is required-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-6 mb-3">-->
            <!--<label for="cc-number">Credit card number</label>-->
            <!--<input type="text" class="form-control" id="cc-number" placeholder="" required>-->
            <!--<div class="invalid-feedback">-->
              <!--Credit card number is required-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col-md-3 mb-3">-->
            <!--<label for="cc-expiration">Expiration</label>-->
            <!--<input type="text" class="form-control" id="cc-expiration" placeholder="" required>-->
            <!--<div class="invalid-feedback">-->
              <!--Expiration date required-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-3 mb-3">-->
            <!--<label for="cc-cvv">CVV</label>-->
            <!--<input type="text" class="form-control" id="cc-cvv" placeholder="" required>-->
            <!--<div class="invalid-feedback">-->
              <!--Security code required-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
