{% extends "base.html" %}
{% block content %}
<br>
{% if disabled %}

<h3 class="text-center accent-text">You already have an order submitted; you can only shop for one order at a time!</h3>
{% endif %}
   <div class="container">
   <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Store</h1>
</div>

<div class="row">
    <div class="col-md-4 order-md-2 mb-3">
      <h3 class="d-flex justify-content-between align-items-center mb-3">
        <span class="mb-3">Your Shopping Session</span>
        <!--<span class="badge badge-secondary badge-pill">3</span>-->
      </h3>
      <div class="card domcolor pt-1 px-1 px-md-1">
        <div class="my-3 p-3">
          <h3 class="card-title txt">My Shopping List</h3>
          <ul class="list-group list-group-flush list-group-cart">
            {% for item in user.profile.cart.items %}
              <li class="list-group-item">
                <div class="row">
                  <form action="" method="post" class="col-md-2">
                      {% csrf_token %}
                      <input type="hidden" name="delete" value="{{item}}"></input>
                      <input class="btn btn-secondary my-2 my-sm-0 accent" type="submit" value="X"/>
                  </form>
                    <img src="{{ item.image }}" width="75" height="75">
                  <p class="col-md-7">{{item.title}}</p>
                  <p class="col-md-5">{{item.price}}</p>

            {% empty %}
            <div class="txt">
              No items.
            </div>
            {% endfor %}
          </ul>
        </div>
      </div>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Store</h6>
            <small class="text-muted">Distance: 3.7 mi</small>
          </div>
          <span class="text-muted">Walmart, Hilton Heights</span>
        </li>

        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Estimated Price</h6>
            <small class="text-muted">Note: Price may vary depending on store availability</small>
          </div>
          <span class="text-muted">{{subtotal_string}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div class="">
            <h6 class="my-0">Driver margin</h6>
            <small>Rate: Flat Fee</small>
          </div>
          <span class="text-muted">{{driver_margin_string}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div class="">
            <h6 class="my-0">Estimated tax</h6>
            <small>6% in Charlottesville</small>
          </div>
          <span class="text-muted">{{tax_string}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light">
          <span>Total (USD)</span>
          <strong>{{total_string}}</strong>
        </li>
      </ul>

    </div>
    <div class="col-md-8 order-md-1">
      <h3 class="mb-3">Build My Cart</h3>
      <div class="d-md-flex w-100 my-md-3 pl-md-3">
  <div class="card domcolor mr-md-9 w-100 pt-3 px-3 px-md-2 text-center overflow-hidden">
    <div class="my-3 py-3">
      <h3 class="card-title txt">Search for Items </h3>
      <form class="form-inline my-2 my-lg-0 card-body" method="GET">
        <input class="form-control mr-sm-2 w-75" type="text" placeholder="e.g. cheese" aria-label="Search" name="search">
        <button class="btn btn-secondary my-2 my-sm-0 accent" type="submit">Search</button>
      </form>
      <ul class="list-group list-group-flush list-group-items">
        {% for item in items %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-3">
                <img src="{{ item.image }}" style="height:50%">
              </div>
              <div class="col-md-3">
                <a href="https://walmart.com/ip/{{item.id}}" target="_blank"><p>{{ item.title }}</p></a>
              </div>
              <div class="col-md-3">
                <p>{{ item.price }}</p>
              </div>
              <div class="col-md-3">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="item" value="{{item}}"></input>
                    <input type="submit" value="Add to cart"/>
                </form>
              </div>
            </div>
          </li>
        {% empty %}
        <div class="txt">
          No items.
          </div>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
      <form action="{% url 'shop:process_order' %}" method="post">
        {% csrf_token %}
        <h4 class="mb-3">Order Information</h4>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="del_add">Delivery Address</label>
            <input type="text" class="form-control" id="del_add" name="del_add" placeholder="e.g. 123 Main St. Charlottesville, VA 22903" maxlength="100" required>
            <div class="invalid-feedback">
              Delivery address is required
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="appt_suite">Apartment Suite Number</label>
            <input type="text" class="form-control" id="appt_suite" name="appt_suite" maxlength="20" placeholder="None">
          </div>
          <div class="col-md-6 mb-3">
            <label for="phone">Phone Number</label>
            <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{10}[0-9]?[0-9]?" title="Please enter 10-12 numbers" placeholder="None">
          </div>
        </div>
        <div class="mb-3">
          <label for="del_instr">Special Instructions</label>
          <input type="text" class="form-control" id="del_instr" name="del_instr" value="" maxlength="120" placeholder="Add any special instructions here">
        </div>
        <br>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="asap" name="asap" value="0" onclick="document.getElementById('d_time').disabled=this.checked;">
          <label class="custom-control-label" for="asap">This is an ASAP delivery</label>
        </div>
        <hr>
        <div class="col-md-4 mb-3">
            <label for="d_time">Delivery Time Range</label>
            <select class="custom-select d-block w-100" id="d_time" name="d_time" required>
              <option value="">Choose...</option>
              <option>5-7 days</option>
              <option>3-5 days</option>
              <option>1-2 days</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid option.
            </div>
          </div>
        <div class="col-md-6 mb-3" hidden>
            <label for="price">Phone Number</label>
            <input type="text" class="form-control" id="price" name="price" value="{{ stripe_price }}">
          </div>

        <hr class="mb-4">
        {% if disabled %}
        <input class="btn btn-primary btn-lg btn-block bg-warning" type="submit" value="Cannot Submit: Order In Progress" disabled>
        {% else %}
        <!--<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"-->
            <!--data-key="{{ key }}"-->
            <!--data-description="Complete Payment"-->
            <!--data-amount="{{stripe_price}}"-->
            <!--data-locale="auto">-->
        <!--</script>-->
        <input class="btn btn-primary btn-lg w-50 btn-block domcolor txt" type="submit" value="Proceed to Checkout">
        <small class="text-muted">Above delivery information will be saved for future orders.</small>
        {% endif %}
      </form>
    </div>
  </div>
   </div>

   <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7dsJd3bbXAqoM-Gz82qqYaKLKZwfPaFc&libraries=places"></script>
   <script type="text/javascript">
      var input = document.getElementById('del_add');
      var options = {
      };

      autocomplete = new google.maps.places.Autocomplete(input, options)
   </script>
{% endblock %}
