{% extends "base.html" %}
{% block content %}
   <div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>Shop Now!</h2>
    <p class="lead">Search for groceries, add them to your cart, set your pickup date and time, and fill out payment info. We'll take care of the rest!</p>
  </div>
<div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="accent-text">Your shopping session</span>
        <!--<span class="badge badge-secondary badge-pill">3</span>-->
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Store</h6>
            <small class="text-muted">Distance: 3.7 mi</small>
          </div>
          <span class="text-muted">Kroger, Barracks Road</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Date of Delivery</h6>
            <small class="text-muted">Pickup Time: 3:00 pm</small>
          </div>
          <span class="text-muted">10/15/2019</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Estimated Price</h6>
            <small class="text-muted">Note: Price may vary depending on store availability</small>
          </div>
          <span class="text-muted">$35.45</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div class="">
            <h6 class="my-0">Driver margin</h6>
            <small>Rate: Flat Fee</small>
          </div>
          <span class="text-muted">$10</span>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light">
          <span>Total (USD)</span>
          <strong>$45.45</strong>
        </li>
      </ul>

      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary second-accent">Redeem</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-8 order-md-1">
      <h2 class="mb-3">Build My Cart</h2>
      <div class="d-md-flex w-100 my-md-3 pl-md-3">
  <div class="card domcolor-t mr-md-9 pt-3 px-3 px-md-5 text-center overflow-hidden">
    <div class="my-3 py-3">
      <h3 class="card-title">Search</h3>
      <form class="form-inline my-2 my-lg-0 card-body">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0 second-accent" type="submit">Search</button>
      </form>
      <ul class="list-group list-group-flush">
    <li class="list-group-item">-</li>
    <li class="list-group-item">-</li>
    <li class="list-group-item">-</li>
        <li class="list-group-item">-</li>
    <li class="list-group-item">-</li>
    <li class="list-group-item">-</li>
        <li class="list-group-item">-</li>

  </ul>
    </div>
  </div>
  <div class="card domcolor-t mr-md-1 pt-3 px-3 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h3 class="card-title">My Shopping List</h3>
      <ul class="list-group list-group-flush">
    <li class="list-group-item">-</li>
    <li class="list-group-item">-</li>
    <li class="list-group-item">-</li>
        <li class="list-group-item">-</li>
    <li class="list-group-item">-</li>
    <li class="list-group-item">-</li>
        <li class="list-group-item">-</li>
    <li class="list-group-item">-</li>
    <li class="list-group-item">-</li>
  </ul>
    </div>
  </div>
</div>
      <form class="needs-validation" novalidate>
        <h4 class="mb-3">Payment</h4>

        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
            <label class="custom-control-label" for="credit">Credit card</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="debit">Debit card</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="paypal">PayPal</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">Name on card</label>
            <input type="text" class="form-control" id="cc-name" placeholder="" required>
            <small class="text-muted">Full name as displayed on card</small>
            <div class="invalid-feedback">
              Name on card is required
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-number">Credit card number</label>
            <input type="text" class="form-control" id="cc-number" placeholder="" required>
            <div class="invalid-feedback">
              Credit card number is required
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="cc-expiration">Expiration</label>
            <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
            <div class="invalid-feedback">
              Expiration date required
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="cc-cvv">CVV</label>
            <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
            <div class="invalid-feedback">
              Security code required
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block accent" type="submit">Start Matching with Driver</button>
      </form>
    </div>
  </div>
   </div>
{% endblock %}