{% extends "base.html" %}
{% block content %}
<br><br><br>
<div class="container">

<h3>Your order has been placed! We're in the process of matching you with a driver. When you have been matched,
your driver's name will appear on your dashboard.</h3>

</div>
<br><hr>
<h3>What do I do now?</h3>
<br>
<div class="container">
    <!-- Example row of columns -->
    <!--<div class="row">-->
      <!--<div class="col-md-4 text-center">-->
          <!--<h6>I want to check out my order status!</h6>-->
        <!--<p><a class="btn btn-secondary accent" href="{% url 'shop:match' %}" role="button">Return to Dashboard &raquo;</a></p>-->
      <!--</div>-->
      <!--<div class="col-md-4 text-center">-->
          <!--<h6>I want to shop some more!</h6>-->
        <!--<p><a class="btn btn-secondary second-accent" href="store" role="button">Place Another Order &raquo;</a></p>-->
      <!--</div>-->
      <!--<div class="col-md-4 text-center">-->
          <!--<h6>I'm not sure; take me home!</h6>-->
        <!--<p><a class="btn btn-secondary accent" href="home" role="button">Return to Home &raquo;</a></p>-->
      <!--</div>-->
    <!--</div>-->

    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4 shadow-sm">
          <div class="card-header d-flex justify-content-center domcolor">
            <h4 class="my-0 txt font-weight-normal">I want to check out my order status!</h4>
          </div>
          <div class="">
            <div class="col">
              <div class="card-body d-flex justify-content-center">
                  <a class="btn-lg btn-secondary accent" href="{% url 'shop:match' %}" role="button">Return to Dashboard &raquo;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--&gt;>>>>>> master-->

      <!--<div class="col-md-6">-->
        <div class="card mb-4 shadow-sm">
          <div class="card-header d-flex justify-content-center domcolor">
            <h4 class="my-0 txt font-weight-normal">I'm not sure; take me home!</h4>
          </div>
          <div class="card-body d-flex justify-content-center">
                    <a class="btn-lg btn-secondary accent" href="home" role="button">Return to Home &raquo;</a>

          </div>
        </div>
      </div>
    </div>

{% endblock %}