{% extends "base.html" %}
{% block content %}

<br>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4" ><span class="A">Edit Driver Information</span></h1>
</div>

<div class="container">
    <div class="card mb-4 shadow-sm">
      <div class="card-header domcolor">
        <h4 class="my-0 font-weight-normal">Change your information below:</h4>
      </div>
      <div class="card-body">
        <form action="{% url 'users:add_driver_info' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="licensePlateNumberInput">License Plate Number</label>
                <input type="text" class="form-control" id="licensePlateNumberInput" name="licensePlateNumberInput" value="{{ plate }}" placeholder="{{ plate }}" pattern="[A-Za-z0-9 \-]*" title="Please enter only letters, numbers, dashes, or spaces" required>
            </div>
            <div class="form-group">
                <label for="carMakeInput">Car Make</label>
                <input type="text" class="form-control" id="carMakeInput" name="carMakeInput" value="{{ make }}" placeholder="{{ make }}" pattern="[A-Za-z ]*" title="Please enter only letters or spaces" required>
            </div>
            <div class="form-group">
                <label for="carModelInput">Car Model</label>
                <input type="text" class="form-control" id="carModelInput" name ="carModelInput" value="{{ model }}" placeholder="{{ model }}" pattern="[A-Za-z0-9 ]*" title="Please enter only letters, numbers, or spaces" required>
            </div>
            <div class="form-group">
                <label for="driverLicenseNumberInput">License Number</label>
                <input type="text" class="form-control" id="driverLicenseNumberInput" name="driverLicenseNumberInput" value="{{ license }}" placeholder="{{ license }}" pattern="[A-Za-z0-9]*" title="Please enter only letters or numbers" required>
            </div>
            <div class="form-group">
                <label for="stateOfLicenseIssuanceInput">State Of License Issuance</label>
                <input type="text" class="form-control" id="stateOfLicenseIssuanceInput" name="stateOfLicenseIssuanceInput" value="{{ state }}" placeholder="{{ state }}" pattern="[A-Za-z]*" title="Please enter only letters" required>
            </div>
        <input type="submit" class="btn btn-lg btn-primary accent" value="Submit">
        </form>

      </div>
    </div>
</div>
{% endblock %}