
{% extends "base.html" %}

{% block content %}

<div style="padding: 25px 50px 50px 25px">
<h1 style="
    padding-top: 60px;
">Sign up for ShopAnon!</h1>
<hr>
    <div>
        <h3>Sign up with Google!</h3>
        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{home}}">Login with Google</a>
        <br>
        <hr>
        <h3>Don't have Google? Sign up here!</h3>
        <div class="container">
    <div class="card mb-4 shadow-sm">
      <div class="card-header domcolor">
        <h4 class="my-0 font-weight-normal">Enter your information:</h4>
      </div>
      <div class="card-body">
        <form action="{% url 'users:create_account' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" id="firstname" name="firstname" pattern="[A-Za-z '\-]*" title="Please enter only letters, spaces, dashes, or apostrophes" required>
            </div>
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" id="lastname" name="lastname" pattern="[A-Za-z '\-]*" title="Please enter only letters, spaces, dashes, or apostrophes" required>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <p class="accent-text">{{ username }}</p>
                <input type="text" class="form-control" id="username" name="username" pattern="[A-Za-z0-9]*" title="Please enter only letters or numbers" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <p class="accent-text">{{ email }}</p>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name ="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
            </div>

        <input type="submit" class="btn btn-lg btn-primary accent" value="Submit">
        </form>

      </div>
    </div>
</div>

</div>
{% endblock %}
