{% extends "base.html" %}
{% block content %}
  <div class="container" style="padding-top:50px">
    <h1>Sign up for ShopAnon!</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4 shadow-sm">
          <div class="card-header domcolor">
            <h4 class="my-0 font-weight-normal"> Sign up with Google! </h4>
          </div>
          <div class="">
            <div class="col">
              <div class="card-body">
                <a class="btn btn-lg btn-primary accent" href="{% url 'social:begin' 'google-oauth2' %}?next={{dashboard}}"><i class="fab fa-google"></i> Login with Google</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card mb-4 shadow-sm">
          <div class="card-header domcolor">
            <h4 class="my-0 font-weight-normal">Don't have Google?</h4>
          </div>
          <div class="card-body">
            <p class="accent-text">{{ error }}</p>
            <form action="{% url 'users:create_account' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" required>
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" required>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <p class="accent-text">{{ username }}</p>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <p class="accent-text">{{ email }}</p>
                    <input type="text" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name ="password" required>
                </div>

            <input type="submit" class="btn btn-lg btn-primary accent" value="Submit">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
