{% load static %}

<html>

<head>
  <title>{{room.name}} | Shopaholics Chat</title>
  <link rel="shortcut icon" href="//www.twilio.com/marketing/bundles/marketing/img/favicons/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" />
  <link rel="stylesheet" href="{% static "chat/styles/room_detail.css" %}">
</head>

<body>
  <div class="container">
    <div class="columns">
      <div class="column">
        <section>
          <div id="messages"></div>
          <div>
          <form id="message-form">
            <div class="field">
              <div class="control">
                <textarea class="textarea" id="message-input" placeholder="Your message here" rows="1" autofocus></textarea>
              </div>
            </div>
            <button type="submit" class="button">Send</button>
          </form>
        </div>
        </section>
      </div>
    </div>
  </div>

  <script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.js"></script>
  <script src="https://media.twiliocdn.com/sdk/js/chat/v2.0/twilio-chat.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="{% static "chat/scripts/rooms.js" %}"></script>
</body>

</html>
