body {
    padding-bottom: 70px;
    padding-top: 5rem;
}
html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}
.topper{
    padding-top: 120px;
    margin-bottom: 0px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}
.social {
    height: 32px;
    width: 32px;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.anchor {
    padding-top: 10px;
}

.all-bg{
    background-color: rbga(192, 192, 192, .7)
}

.domcolor {
    background-color: #5dcc35
}

.domcolor-t {
background-color: rgba(93, 204, 53, .5)
}

.dom-text {
color: #5dcc35
}

.accent {
background-color: #43b3cf;
border-color: #43b3cf
}

.accent-text {
color: #43b3cf
}

.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top li a {
    color: #5dcc35;
}

h1 {font-family: "MV Boli"}

.jumbotron{
background-image: url("../../static/shop/images/groceries.jpg");
}